<div class="home__container">
    <app-card
        gameCover="assets/nba2k25.png"
        gameTitle="NBA 2K25™"
        gameLabel="Cross Buy"
        gameType="Full Game | PS5 | PS4"
        gamePrice="R$ 349,90"
    >
    </app-card>
    
    <app-card
        gameCover="assets/EA SPORTS FC25.png"
        gameTitle="EA SPORTS FC™ 25"
        gameLabel="Cross Buy"
        gameType="Full Game | PS5 | PS4"
        gamePrice="R$ 299,00"
    >
    </app-card>

    <app-card
        gameCover="assets/ghostOfTsushima.jpg"
        gameTitle="Ghost of Tsushima™"
        gameLabel="Exclusive"
        gameType="Digital Game | PS5"
        gamePrice="R$ 249,90"
    >
    </app-card>
    
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameTitle="Assassin's Creed™"
        gameLabel="Cross Buy"
        gameType="Digital Game | PS4 | PS3"
        gamePrice="R$ 49,90"
    >
    </app-card>
    
    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameTitle="Battlefield Bad Company 2™"
        gameLabel="Cross Buy"
        gameType="Full Game | PS5 | PS4 | PS5"
        gamePrice="R$ 19,90"
    >
    </app-card>
    
    <app-card
        gameCover="assets/Black Myth Wukong.png"
        gameTitle="Black Myth: Wukong™"
        gameLabel="Cross Buy"
        gameType="Digital Game | PS5 | PC"
        gamePrice="R$ 229,99"
    >
    </app-card>
    
    <app-card
        gameCover="assets/Call of Duty Black Ops 6.jpg"
        gameTitle="Call of Duty®: Black Ops 6"
        gameLabel="Cross Buy"
        gameType="Full Game | PS5 | PS4"
        gamePrice="R$ 339,00"
    >
    </app-card>
    
    <app-card
        gameCover="assets/EldenRing.png"
        gameTitle="Elden Ring™"
        gameLabel="Cross Buy"
        gameType="Digital Game | PS5 | PS4"
        gamePrice="R$ 229,90"
    >
    </app-card>
    
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameTitle="Battlefield Hardline™"
        gameLabel="Cross Buy"
        gameType="Full Game | PS5 | PS4 | PS3"
        gamePrice="R$ 19,90"
    >
    </app-card>

</div>